*{
	font-family: Sans-serif;
}

table {
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 7px 15px;
  text-align: left;
}
th{
  background-color: #111111;
  color: white;
}
h1{
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0% 2%;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  font-family: Sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

input[type=text], select {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #38ACEC;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #368BC1;
}

form{
	padding: 0% 2%;
}