{% extends 'tgs/menuTutores.html' %}
{% block content %}
    <body>
    <h1>Crear tutor</h1>
    <form action="{% url 'crearTipo' %}" method="post">
    {% csrf_token %}
	  Tipo:<br>
	  <input type="text" name="nombre"><br><br>
	  <input type="submit" value="Submit">
	</form>
{% endblock %}