{% extends 'tgs/menuTutores.html' %}
{% block content %}
    <h1>Crear tutor</h1>
    <form action="{% url 'crearTutor' %}" method="post">
    {% csrf_token %}
    Tipo tutor:<br>
      <select name = "tipo">
        {% for t in tipo_tutores %}
  			<option value="{{t.id}}">{{t.nombre}}</option>
		{% endfor %}
	  </select><br><br>
	  Nombre:<br>
	  <input type="text" name="nombre"><br><br>
	  Apellido:<br>
	  <input type="text" name="apellido"><br><br>
	  Cedula:<br>
	  <input type="text" name="cedula"><br><br>
	  <input type="submit" value="Submit">
	</form>
{% endblock %}