{% extends "../templates/application.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-6">
    <h1>Trabagos de Grado</h1>
  </div>
  <div class="col-xs-6">
    <a class="btn btn-primary" href="{% url 'new_tg' %}">Nuevo TG</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {% if tgs %}
      <ul>
        {% for tg in tgs %}
          <li>
            <a href="#">
            <!--<a href="{# url 'show_tg' tg.id #}">-->
            <!--<a href="/tgs/{{ tg.id }}">-->
              {{ tg.titulo }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay Trabajos de Grado aún.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
