{% load static %}
<!doctype html>
<html>
    <head>
        <title>Gestion de TGS</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'crearTipo' %}">Crear tipo de tutor</a></li>
            <li><a href="{% url 'tiposTutor' %}">Ver tipo de tutores</a></li>
            <li><a href="{% url 'crearTutor' %}">Crear tutor</a></li>
            <li><a href="{% url 'tutores' %}">Ver tutores</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
