{% extends "../templates/application.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>Nuevo TG</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Agregar TG">
    </form>
  </div>
</div>
{% endblock %}