{% extends 'tgs/menuTutores.html' %}
{% block content %}
	<h1>Tipos:</h1>
	  {% if tipos %}
	  <table>
		<tr>
		  <th>Tipo de tutor</th>
		</tr>
		{% for a in tipos %}
		<tr> 
		  <td>{{ a.nombre }}</td>
		</tr>
		{% endfor %}
	  </table>
	{% else %}
	<p>No hay tipo de tutores por ahora</p>
	{% endif %}
{% endblock %}