{% extends 'tgs/menuTutores.html' %}
{% block content %}
	<h1>Tutores:</h1>
	  {% if tutores %}
	  <table>
		<tr>
		  <th>Nombre</th>
		  <th>Apellido</th>
		  <th>Cedula</th>
		  <th>Tipo</th>
		</tr>
		{% for t in tutores %}
		<tr> 
		  <td>{{ t.nombre }}</td>
		  <td>{{ t.apellido }}</td>
		  <td>{{ t.cedula }}</td>
		  <td>{{ t.tipo_tutor }}</td>
		</tr>
		{% endfor %}
	  </table>
	{% else %}
	<p>No hay tutores por ahora</p>
	{% endif %}
{% endblock %}